@font-face {
    font-family: 'Ducktales';
    src: url('./../../fonts/DuckTales_2017.ttf');
}

/* Common */
:root {
    background-color: palevioletred;
    color: navy;
    font-family: 'Ducktales';
}

* {
    box-sizing: border-box;
    font-family: inherit;
}

button {
    background-color: navy;
    color: snow;
    border: none;
}

input {
    border: 0.1ch solid navy;
    color: navy;
    background-color: snow;
}

button,
input {
    border-radius: 0.75em;
    padding: 0.5ch 0.75ch;
}