/* Mini reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    /* Permet d'indiquer que la taille de mes éléments inclue la bordure et le padding */
}

:root {
    --color-main : #01A29E;
    --rounded-sm : 0.25rem;
    --rounded-md : 0.5rem;
    --rounded-lg : 1rem;
}

body {
    min-height: 100vh;
    background-color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 25%;
    aspect-ratio: 3/4;

    background-color: white;
    border-radius: var(--rounded-lg);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    padding: 1.5rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 2rem;

    /* card img */
    img {
        width: 60%;
    }

    input {
        height: 2rem;
        padding: 0 0.5rem;
        border-radius: var(--rounded-md);
        border : none;
        border : 1px solid var(--color-main);
    }

    button {
        background-color: var(--color-main);
        border-radius: var(--rounded-md);
        padding: 0.5rem 1rem;
        border : 1px solid var(--color-main);
        color : white;
        font-size: 1rem;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        /* button:hover */
        &:hover {
            background-color: white;
            border-color: var(--color-main);
            color : var(--color-main);
        }
    }
}