/* Mini reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    /* Permet d'indiquer que la taille de mes éléments inclue la bordure et le padding */
}

:root {
    --color-main : #01A29E;
    --rounded-sm : 0.25rem;
    --rounded-md : 0.5rem;
    --rounded-lg : 1rem;
}

body {
    min-height: 100vh;
    background-color: whitesmoke;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    align-content: center;
    /* nouveauté pour center le contenu d'un élément verticalement */
}

.card {
    margin: auto;
    width: 25%;
    @media(max-width : 640px){
        width: 80%;
    }
    aspect-ratio: 3/4;

    background-color: white;
    border-radius: var(--rounded-lg);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    padding: 1.5rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 2rem;

    /* .card.ok */
    &.ok {
        box-shadow : rgba(38, 150, 94, 0.719) 0px 3px 8px;

    }
    
    /* .card.pas-ok */
    &.pas-ok {
        box-shadow : rgba(204, 36, 36, 0.719) 0px 3px 8px;
    }

    h1 {
        text-align: center;
    }

    /* card img */
    img {
        max-width: 60%;
        max-height: 30%;
    }

    input {
        height: 2rem;
        padding: 0 0.5rem;
        border-radius: var(--rounded-md);
        border : none;
        border : 1px solid var(--color-main);
    }

    button {
        background-color: var(--color-main);
        border-radius: var(--rounded-md);
        padding: 0.5rem 1rem;
        border : 1px solid var(--color-main);
        color : white;
        font-size: 1rem;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        /* button:hover */
        &:hover {
            background-color: white;
            border-color: var(--color-main);
            color : var(--color-main);
        }
    }

    .txt-main{
        color : var(--color-main);
    }
}

